body {
  padding: 0;
  margin: 0;
}
.bg-1 {
  background-image: linear-gradient(
    to bottom,
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.85)
    ),
    url(../images/pcb-background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%; */
  height: 100vh;
}
.home {
  padding-left: 5%;
  padding-top: 8%;
  padding-right: 20%;
}

.home > h1, p, h3 {
  margin: 0;
}

.home > h1 {
  color: white;
  font-weight: bold;
}

.home > h3 {
  color: rgba(255,255,255,0.85);
}
.home > p {
  color: rgba(255,255,255,0.6);
}
.btn-iot {
  margin-top: 15px;
  background-color: rgb(224, 57, 74);
  color: white;
  font-weight: 600;
  padding: 5px 45px;
  border-radius: 8px;
}
.btn-iot:hover, .btn-iot:focus {
  background-color: rgb(205, 32, 38);
  color: white;
}
#panel-login {
  position: fixed;
  right: 0;
  background: linear-gradient(
    rgb(224, 57, 74),
    rgb(224, 57, 74),
    rgb(224, 57, 74),
    rgba(224, 57, 74, 0.7)
    );
  height: 100%;
  width: 25%;
  padding: 3%;
  padding-top: 15%;
  display: none;
  text-align: left;
}
#panel-login h2 {
  color: white;
  padding-bottom: 10px;
}
#panel-login .form-control {
  margin-top: 10px;
  background-color: transparent;
  border: 2px solid transparent; /* change bootstrap border */
  border-bottom: 2px solid rgba(255,255,255,0.75);
  color: rgba(255,255,255,0.85);
  padding-left: 2px;
}
#panel-login .form-control::placeholder {
  color: rgba(255,255,255,0.55);
}
#panel-login .btn-iot {
  display: inline-block;
  padding: 5px 30px;
  margin: 15px 3px;
  background-color: rgba(255,255,255,1);
  color: rgb(224, 57, 74);
}
#panel-login .btn-iot:hover {
  color: rgba(255,255,255,1);
  background-color: transparent;
  border: 1px solid white;
}
#panel-login a {
  /* text-decoration: none; */
  color: rgba(255,255,255,0.55);
  padding-left: 5px;
}
.footer-text {
  position: absolute;
  color: rgba(255,255,255,0.65);
  text-align: center;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
}
